.html-wrapper {
  width: 100%;
  font-family: Avenier;
}
.html-wrapper .header {
  background: gray;
  padding: 1.5rem 2rem;
}
.html-wrapper .header span {
  font-size: 2.5rem;
  color: white;
}
.html-wrapper .header span {
  font-size: 3.5rem;
}
.html-wrapper .header .goa {
  color: #e5f135;
}
.html-wrapper .header .beer {
  color: blue;
}
.html-wrapper .footer {
  background: gray;
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
}
.html-wrapper .footer span {
  font-size: 2.5rem;
  color: white;
}
.html-wrapper .body {
  min-height: 100vh;
}
.html-wrapper .body .confirmation-div {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.html-wrapper .body .confirmation-div.hidden {
  display: none;
}
.html-wrapper .body .confirmation-div .confirmation-text {
  padding: 3rem;
  font-size: 3.5rem;
}
.html-wrapper .body .confirmation-div img {
  width: 25rem;
}
.html-wrapper .body .list-items.hidden {
  display: none;
}
.html-wrapper .body .list-items .product {
  margin: 3rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}
.html-wrapper .body .list-items .product .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}
.html-wrapper .body .list-items .product .image img {
  height: 40rem;
}
.html-wrapper .body .list-items .product .name {
  font-size: 4rem;
}
.html-wrapper .body .list-items .product .button {
  margin-top: 2rem;
  width: auto;
  cursor: pointer;
  background: #449d44;
  border-radius: 3rem;
  padding: 1rem 2rem;
}
.html-wrapper .body .list-items .product .price {
  margin-top: 2rem;
  width: auto;
  font-size: 4rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
}
.html-wrapper .body .list-items .product .button span {
  font-size: 3rem;
  color: white;
}
